/* RESET AND GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.btn {
  color: white;
  background-color: #4a4a4a;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.active {
  color: green;
}

.fa-chevron-up {
  font-size: .7rem;
  margin-left: 15px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

/* HEADER */

header {
  height: 70px;
  background-color: black;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.btn:last-child {
  margin-left: 10px;
}



/* MAIN */
main {
  height: calc(100vh - 170px);
  overflow: auto;
  background-color: black;
}


.people-container {
  background-color: black;
  width: 90%;
  height: calc(100vh - 170px);
  margin: 0 auto;
}

.user {
  position: relative;
  height: 200px;
  border: 2px solid black;
}

.user-name {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .55);
  padding: 10px 5px;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  flex-shrink: 0;
}

footer .footer-left .icon-container:last-of-type {
  margin-left: 15px;
}

footer i {
  font-size: 2rem;
  margin-bottom: 8px;
}

.footer-left, .footer-center, .footer-right {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

/* Footer Center */

.footer-center .icon-container {
  margin-right: 25px;
}

.footer-center .fa-chevron-up {
  margin: 0;
  margin-right: 15px
}

/* Footer Right */

.footer-right {
  background-color: #4a4a4a;
  color: red;
  height: 100%;
  padding: 0 20px;
}